@import "functions/index";

@include define-color-set("default", (
  colors: (
    primary: (
      0: #222,
      //#fdfdfd
      name: "dark gray"
    ),
    secondary: (
      0: #31adb8, name: "turqiose"
    ),
    tertiary: (
      0: #f0f0f0, name: "light gray"
    )
  )
));

$fonts: (
  primary: unquote("Open Sans Condensed, Lato, Helvetica, sans-serif"),
  secondary: unquote("Lobster Two"),
  tertiary: unquote("monospace")
);

$config: (
 border-radius: 6px,
 border-color: color(primary, -6),
 color: color(primary, 2),
 font-family: map-get($fonts, primary),
 font-size: 14px,
 line-height: 1.4em,
 spacing: 1.4em,
 padding: 10px
);

$easing: (
 swift: cubic-bezier(.55, 0, .1, 1),
 bounce: cubic-bezier(.19, 1.32, .48, 1)
);

// @author Tyler Benton
// @page helpers/variables
// @type {string}
// @description
// This is used to select all elements that aren't hidden.
$not-hidden: ":not(style):not(link):not(meta):not(script)";


$slide: (
 width: 1000px
);

$slide: map-merge($slide, (height: map-get($slide, width) / (16 / 9)));