@import "functions/index";

@include define-color-set("default", (
  colors: (
    primary: (
      -1: #808c99,
      0: #6b717f,
      name: "light gray"
    ),
    secondary: (0: #c69, name: "pink"),
    tertiary: (0: #699, name: "turqiose")
  )
));

$fonts: (
  primary: unquote("Open Sans Condensed, Lato, Helvetica, sans-serif"),
  secondary: unquote("Lobster Two"),
  tertiary: unquote("monospace")
);

$config: (
 border-radius: 6px,
 border-color: color(primary, -6),
 color: color(primary, 2),
 font-family: map-get($fonts, primary),
 font-size: 14px,
 line-height: 1.4em,
 spacing: 1.4em,
 padding: 10px
);


// @author Tyler Benton
// @page helpers/variables
// @type {string}
// @description
// This is used to select all elements that aren't hidden.
$not-hidden: ":not(style):not(link):not(meta):not(script)";