.u-animate{
  animation:{
    duration: 1s;
    fill-mode: both;
  }

  &--bounce-in{
    animation-name: bounce-in;
    @keyframes bounce-in{
      0%, 20%, 40%, 60%, 80%, 100%{
        animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
      }

      0%{
        opacity: 0;
        transform: scale3d(.3, .3, .3);
      }

      20%{
        transform: scale3d(1.1, 1.1, 1.1);
      }

      40%{
        transform: scale3d(.9, .9, .9);
      }

      60%{
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
      }

      80%{
        transform: scale3d(.97, .97, .97);
      }

      100%{
        opacity: 1;
        transform: scale3d(1, 1, 1);
      }
    }

    &-left{
      animation-name: bounce-in-left;
      @keyframes bounce-in-left{
        0%, 60%, 75%, 90%, 100%{
          animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
        }

        0%{
          opacity: 0;
          transform: translate3d(-3000px, 0, 0);
        }

        60%{
          opacity: 1;
          transform: translate3d(25px, 0, 0);
        }

        75%{
          transform: translate3d(-10px, 0, 0);
        }

        90%{
          transform: translate3d(5px, 0, 0);
        }

        100%{
          transform: none;
        }
      }
    }

    &-right{
      animation-name: bounce-in-right;
      @keyframes bounce-in-right{
        0%, 60%, 75%, 90%, 100%{
          animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
        }

        0%{
          opacity: 0;
          transform: translate3d(3000px, 0, 0);
        }

        60%{
          opacity: 1;
          transform: translate3d(-25px, 0, 0);
        }

        75%{
          transform: translate3d(10px, 0, 0);
        }

        90%{
          transform: translate3d(-5px, 0, 0);
        }

        0%{
          transform: none;
        }
      }
    }

    &-up{
      animation-name: bounce-in-up;
      @keyframes bounce-in-up{
        100%, 60%, 75%, 90%, 0%{
          animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }

        0%{
          opacity: 0;
          transform: translate3d(0, 3000px, 0);
        }

        60%{
          opacity: 1;
          transform: translate3d(0, -20px, 0);
        }

        75%{
          transform: translate3d(0, 10px, 0);
        }

        90%{
          transform: translate3d(0, -5px, 0);
        }

        100%{
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }

  &--bounce-out{
    animation-name: bounce-out;
    @keyframes bounce-out{
      20%{
        transform: scale3d(.9, .9, .9);
      }

      50%, 55%{
        opacity: 1;
        transform: scale3d(1.1, 1.1, 1.1);
      }

      100%{
        opacity: 0;
        transform: scale3d(.3, .3, .3);
      }
    }
    &-left{}
    &-right{}
    &-up{}
    &-down{}
  }
}