.c-blockquote{
  display: inline-block;
  position: relative;
  text-align: left;

  &__quote{
    border-left: 1px solid color(primary);
    color: color(primary);
    display: block;
    font-size: 4.9em;
    font-weight: bold;
    line-height: 1;
    padding-left: 40px;
  }

  &__cite{
    color: color(tertiary);
    display: block;
    clear: left;
    font-size: 2em;
    margin-top: 1em;
  }
}