.c-code-pane{
  $this: (
    //background: #192b33,
    background: color(secondary, 6.7),
    border-radius: 6px,
    //header-background: #e2e2e2,
    header-background: color(tertiary),
    header-height: 24px
  );

  background: map-get($this, background);
  border-radius: map-get($this, border-radius);
  color: color(primary);
  display: flex;
  font-family: map-get($fonts, tertiary);
  font-size: 1em;
  font-weight: 400;
  margin: {
    left: map-get($config, spacing);
    right: map-get($config, spacing);
  };
  max-height: 100%;
  padding-top: map-get($this, header-height);
  position: relative;
  &:before{
    background: map-get($this, header-background);
    border-top: {
      left-radius: map-get($this, border-radius);
      right-radius: map-get($this, border-radius);
    };
    content: attr(data-header);
    height: map-get($this, header-height);
    left: 0;
    line-height: 1.3em;
    text-align: center;
    top: 0;
    width: 100%;
  }
  &:after{
    $font-size: map-get($this, header-height) / 2;
    $box-shadow: ();
    $colors: (#ff5c57, #ffbe2f, #2ac943);
    $spacing: 10px;
    @for $i from 1 through length($colors){
      $box-shadow: $box-shadow, ($i * ($font-size + $spacing)) 0 0 nth($colors, $i);
    }
    border-radius: 50%;
    box-shadow: $box-shadow;
    content: "";
    font-size: $font-size;
    height: 1em;
    left: -$spacing;
    margin-top: .5em;
    top: 0;
    width: 1em;
  }

  &__pre{
    padding: map-get($config, spacing);
    flex: 1;
  }

  &__pre, &__code{
    direction: ltr;
    position: relative;
    overflow: scroll;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    tab-size: 4;
    text-align: left;
  }

  &__code{
    background: none;
    font-weight: 400;
  }

  &__highlight, &__step{
    margin: 0;
    padding: 0;
  }

  &__highlight{
    background: none;
    color: #fff;
  }

  &__step{
    //margin: 0  (-(map-get($config, spacing))) 0 0;
    //padding: 0 0 0 map-get($config, spacing);
  }

}