.c-code{
  background: rgba(color(secondary, -5.25), .25);
  border-radius: .3em;
  color: color(secondary);
  display: inline;
  font: 700 .8em/1.2em map-get($fonts, tertiary);
  margin: 0 .2em;
  padding: .1em .3em .2em;
  position: relative;
  top: -.05em;
  white-space: nowrap;
  
  .t-secondary &{
    background: color(secondary);
    color: color(secondary, -6.25);
  }
}