.c-code-pane{
  $this: (
    //background: #192b33,
    background: color(secondary, 6.7),
    border-radius: 6px,
    //header-background: #e2e2e2,
    header-background: color(tertiary),
    header-height: 24px // 24px
  );

  background: map-get($this, background);
  border-radius: map-get($this, border-radius);
  box-shadow: 0 0 3px rgba(color(primary), .25);
  color: color(primary);
  display: flex;
  font: {
    family: map-get($fonts, tertiary);
    size: 1em;
    weight: 400;
  }
  line-height: 1.25em;
  margin: {
    left: map-get($config, spacing) / 1.25;
    right: map-get($config, spacing) / 1.25;
  };
  max-height: 100%;
  padding-top: map-get($this, header-height);
  position: relative;
  &:before{
    background: map-get($this, header-background);
    border-top: {
      left-radius: map-get($this, border-radius);
      right-radius: map-get($this, border-radius);
    };
    content: attr(data-header);
    height: map-get($this, header-height);
    left: 0;
    line-height: 1.4em;
    text-align: center;
    top: 0;
    width: 100%;
  }
  &:after{
    $font-size: map-get($this, header-height) / 2;
    $box-shadow: ();
    $colors: (#ff5c57, #ffbe2f, #2ac943);
    $spacing: 10px;
    @for $i from 1 through length($colors){
      $box-shadow: $box-shadow, ($i * ($font-size + $spacing)) 0 0 nth($colors, $i);
    }
    border-radius: 50%;
    box-shadow: $box-shadow;
    content: "";
    font-size: $font-size;
    height: 1em;
    left: -$spacing;
    margin-top: .5em;
    top: 0;
    width: 1em;
  }

  &__pre{
    padding: map-get($config, spacing) / 1.5;
    //padding: 1em;
    flex: 1;
  }

  &__pre, &__code{
    direction: ltr;
    position: relative;
    overflow: scroll;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    tab-size: 4;
    text-align: left;
  }

  &__code{
    background: none;
    font-weight: 400;
  }

  &__highlight, &__step{
    display: block;
    margin: 0;
    padding: 0;
  }

  &__highlight{
    background: none;
    color: #fff;
  }

  &__step{
    @at-root .c-step[lang="css"]{
      animation-delay: .5s;
      &.u-animate--delay{
        animation-delay: 1.5s;
      }
    }
    //margin: 0  (-(map-get($config, spacing))) 0 0;
    //padding: 0 0 0 map-get($config, spacing);
  }
}

.hljs{
  $foo: bar;
  @at-root{
    %purple{ color: #bb7db6; }
    %turqiose{ color: #58b2b2; }
    %orange{ color: #fc9050; }
    %blue{ color: #6498d0; }
    %yellow{ color: #fcc85b; }
    %green{ color: #99c997; }
    %gray{ color: #cdd3e0; }
    %dark-gray{ color: lighten(#667480, 15%); }
    %red{ color: #ed5d64; }
  }

  // tag in selectors
  &-tag{
    @extend %purple;
  }
  // #some_name in selectors
  &-id{
    @extend %purple;
  }

  //@media all screen and (min-width: 250px){
  //  foo: bar;
  //}

  // .some_name in selectors
  &-class{
    @extend %purple;
  }

  // @-rule till first “{” or ”;”
  &-at_rule{
    @extend %purple;
  }

  // attribute selector (square brackets in a[href^=http://])
  &-attr_selector{
    @extend %gray;
  }

  // pseudo classes and elements (:after, ::after etc.)
  &-pseudo{
    @extend %purple;
  }

  // comment
  &-comment{
    @extend %dark-gray;
    *{
      color: inherit;
    }
  }

  // everything from “{” till “}”
  &-rules{
    @extend %yellow;
  }

  &.css &-rules{
    @extend %gray;
  }

  // property name inside a rule
  &-attribute{
    @extend %yellow;
  }

  // property value inside a rule, from ”:” till ”;” or till the end of rule block
  &-value{
    @extend %orange;
  }

  // number within a value
  &-number{
    @extend %orange;
    * {
      color: inherit;
    }
  }

  // string within a value
  &-string{
    @extend %green;
  }

  //@keyframes foo{
  //  from {
  //
  //  }
  //}

  // hex color (#FFFFFF) within a value
  &-hexcolor{
    @extend %turqiose;
  }

  // CSS function within a value
  &-function{
    @extend %blue;
  }

  // ”!important” symbol
  &-important{
    @extend %purple;
  }

  // variable starting with “$”
  &-variable{
    @extend %gray;
  }

  // keywords after @
  &-preprocessor{
    @extend %purple;
  }

  // custom
  // ----------------------------------------------------------------------------------------

  // []{}()
  &-bracket{
    @extend %gray;
  }

  // @
  &-at{
    @extend %red;
  }

  // :;
  &-colen{
    @extend %gray;
  }

  // &
  &-amp{
    @extend %red;
  }

  // #{}
  &-interpolate {
    @extend %red;
    * {
      color: inherit;
    }
  }

  // `and` only in @media
  &-and{
    @extend %turqiose;
  }

  // ,
  &-comma{
    @extend %turqiose;
  }
}