.c-code-pane{
  font: {
    family: map-get($fonts, tertiary);
    size: 1em;
    weight: 400;
  }
  &__wrapper{
    font-weight: 400;
    padding: 20px;
    text-align: left;
  }
  &__code, &__step{
    margin: 0;
    padding: 0;
  }
}