.c-slide{
  display: flex;
  height: 100%;
  left: 0px;
  margin-top: 0 !important;
  position: absolute;
  top: 0px;
  transform-origin: center center;
  transform: translate3d(0%, 0%, 0%);
  width: 100%;
  z-index: 1;

  @each $theme in (primary, secondary, tertiary){
    &.t-#{$theme}{
      background: color($theme);
    }
  }

  &.t-secondary{
    color: white;
  }

  &--stretch{
    .c-slide__content{
      height: 100%;
    }
  }

  &__wrapper{
    display: flex;
    flex: 1;
    position: relative;
  }

  &__content{
    flex: 1;
    left: 50%;
    margin: auto;
    max-height: map-get($slide, height);
    padding: map-get($config, spacing);
    position: absolute;
    text-align: center;
    top: 50%;
    width: map-get($slide, width);
    @media (min-height: map-get($slide, height)){
      padding: {
        top: 0;
        bottom: 0;
      }
    }
  }
}