.c-slide{
  display: flex;
  height: 100%;
  left: 0px;
  margin-top: 0 !important;
  position: absolute;
  top: 0px;
  transform: translate3d(0%, 0px, 0px);
  transform-origin: center center;
  width: 100%;
  z-index: 1;
}