.c-step{
  opacity: 0;
  &.is-visible{
    opacity: 1;
  }

  &--highlight{
    opacity: 1;
    &.is-current{
      box-shadow: 0 0 0 10px color(secondary);
      border-radius: .25em;
    }
  }

  &--grow{
    height: 0;
    width: 0;
    overflow: hidden;
    margin: 0;
    &.is-visible{
      height: auto;
      width: auto;
      overflow: visible;
    }
  }

  &--current{
    &.is-visible{
      opacity: 0;
      height: 0;
      overflow: hidden;
    }
    &.is-current{
      opacity: 1;
      height: auto;
      overflow: visible;
    }
  }

  &--space{
    margin-top: 1em;
  }

  &--inline{
    display: inline-block;
  }
}