// loads the sites font-faces
//@import "../helpers/utilities/helpers/font";

// @name Headings
// @author Tyler Benton
//
// @page general/typography
//
// @markup
// <h1>Heading 1</h1>
// <h2>Heading 2</h2>
// <h3>Heading 3</h3>
// <h4>Heading 4</h4>
// <h5>Heading 5</h5>
// <h6>Heading 6</h6>
h1, h2, h3, h4, h5, h6{
 color: color(primary, 3);
 display: block;
 font-size: 1em;
 font-weight: 600;
 letter-spacing: -.02em;
 line-height: 1.25em;
 margin: 0;
 a{
  color: inherit;
 }
 *#{$not-hidden} ~ &{
  margin-top: .5em;
 }
}

h2, h4, h5{
 font-weight: 200;
}

h2, h3{
  font-family: "Source Serif Pro";
}

h2, h5, h6{
 color: color(secondary, 0);
}

h1{
 font-size: em(50px);
}

h2{
 font-size: em(40px);
}

h3{
 font-size: em(28px);
}

h4{
 font-size: em(24px);
}

h5{
 font-size: em(18px);
}



// @name Links
// @author Tyler Benton
//
// @page general/typography
//
// @markup
// <a href="#">Link</a>
a, p a{
 color: color(secondary, 0);
 text-decoration: none;
 &:hover, &:active, &:focus{
  text-decoration: underline;
 }
 &:hover{
  color: color(secondary, -2);
 }
 &:active, &:focus{
  color: color(secondary, 2);
 }
}

// @name Paragraphs
// @author Tyler Benton
// @page general/typography
//
// @markup
// <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing elit</a>. Unde numquam, culpa, sit laboriosam aperiam perferendis, cumque incidunt quaerat nemo quibusdam animi vel ducimus consectetur tempora laborum ipsam placeat blanditiis maxime.</p>
// <p>Expedita quod architecto praesentium nostrum aspernatur a nobis, consequuntur tempora, eius iste ducimus non laborum deleniti cum nihil perferendis. Assumenda quasi deleniti dicta aspernatur.</p>
// <p>Tempore incidunt accusamus blanditiis quod doloremque quas, architecto hic aut ratione, fugiat odit commodi non in, sint sit.</p>
p{
 margin: 0;
 padding: 0;
 line-height: map-get($config, line-height); // @note {!!!} - This has to be here because it is needed for list views used
 white-space: normal;
}


// @name Lists
// @author Tyler Benton
// @page general/typography
//
// @markup
// <ul>
//  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, consequuntur.</li>
//  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, natus.</li>
//  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, aspernatur.</li>
//  <li>
//   <ul>
//    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, molestiae?</li>
//    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, quisquam.</li>
//    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, dolor.</li>
//    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, tempore!</li>
//   </ul>
//  </li>
//  <li>
//   <ol>
//    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, facere!</li>
//    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, corporis.</li>
//    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, deleniti?</li>
//    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, quod.</li>
//   </ol>
//  </li>
// </ul>
// <ol>
//  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, perferendis.</li>
//  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, illo.</li>
//  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, magni.</li>
//  <li>
//   <ul>
//    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, asperiores.</li>
//    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, temporibus!</li>
//    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, quidem.</li>
//    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, distinctio.</li>
//   </ul>
//  </li>
//  <li>
//   <ol>
//    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, impedit.</li>
//    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, quas.</li>
//    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, enim.</li>
//    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, sed!</li>
//   </ol>
//  </li>
// </ol>
ul, ol{
 margin-left: 2em;
 padding: 0;
 ul{
  list-style-type: circle;
 }
 li ~ li{
  margin-top: map-get($config, spacing) / 2;
 }
}